@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='email'],input[type='password'],input[type='text'],input[type='number'],input[type='date'],
input[type='tel'],textarea{
    @apply w-full border border-gray-500 my-1 py-2 px-4 rounded-2xl ;
}
textarea{
    height: 140px;
}

label.perk{
    @apply border p-4 flex rounded-2xl gap-2 items-center cursor-pointer
}

button.primary{
    @apply bg-primary p-2 w-full text-white rounded-2xl 
}

button:hover{
    transform: scale(.995);
}